@media only screen and (max-width: 767px) {
    .main-word {
        font-weight: bold;
        font-size: 10vw;
        position: static;
        letter-spacing: 10px;
        margin-top: 20px;
    }
}

@media only screen and (min-width: 768px) {
    .main-word {
        font-weight: bold;
        font-size: 7vw;
        position: static;
        letter-spacing: 10px;
        margin-top: 20px;
    }
}